.drop {
  width: 50%;
  border: 2px #2e3440 solid;
  border-style: dashed;
  border-radius: 25px;
  padding-top: 33px;
}

.DropContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  background: darkslategrey !important;
}

.clickable {
  cursor: pointer;
}

.PredBtn {
  margin: 20px 0px !important;
  width: 18% !important;
}

.margin {
  margin: 15px 0px;
}

.PredImg {
  width: 50%;
  height: 50%;
}

.modal {
  text-align: center;
}
